body {
  margin: 0 !important;
  font-family: "DM Sans", sans-serif !important;
  background-size: cover !important;
  background: linear-gradient(
    to right,
    rgb(255, 195, 104),
    rgb(231, 150, 0)
  ) !important;
}

.conteudo {
  text-align: center;
  color: white;
  padding: 60px;
  padding-top: 100px;
  margin-top: 300px;
  background-color: rgb(187, 121, 0);
}

.navbar {
  background-color: orange !important;
  color: white !important;
  text-align: center !important;
  padding: 15px !important;
  font-weight: bold !important;
  border-radius: 0px 0px 1000px 1000px !important;
  font-size: xx-large !important;
  font-weight: 100 !important;
}

.caixa {
  background-color: #eee !important;
  width: 600px !important;
  margin: 100px auto !important;
  padding: 100px !important;
  border-radius: 10px !important;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2) !important;
}

input {
  width: 50% !important;
  margin-bottom: 10px !important;
  padding: 15px !important;
  border-radius: 10px !important;
  align-items: center !important;
  border: solid rgb(170, 170, 170) !important;
  color: rgb(170, 170, 170) !important;
  background-color: transparent !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  border-width: 1px !important;
}

button {
  width: 30% !important;
  padding: 15px !important;
  background-color: orange !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  font-weight: lighter !important;
  box-shadow: 1px 8px 8px 1px rgba(0, 0, 0, 0.2) !important;
  cursor: pointer !important;
}

button:hover {
  background-color: rgb(209, 143, 0) !important;
  color: rgb(255, 255, 255) !important;
}

#resultado {
  margin-top: 10% !important;
  text-align: center !important;
  color: rgb(90, 90, 90) !important;
  font-weight: bold !important;
}

.rodape {
  background-color: rgb(218, 141, 0);
  color: rgba(255, 255, 255, 0.616);
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

#foto {
  display: none;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  border-radius: 10px;
  display: block;
}

.navbar,
.rodape,
.caixa {
  font-family: "DM Sans", sans-serif;
}
